%nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
        -if(session[:user_id])
            %a.navbar-brand{:href => "/home"} MinorCineplex
        -else
            %a.navbar-brand{:href => "/main"} MinorCineplex
        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            %ul.navbar-nav.me-auto.mb-2.mb-lg-0
                -if(session[:user_id])
                    %li.nav-item
                        %a.nav-link.active{"aria-current" => "Inventory", :href => "/inventory"} Inventory 
                    %li.nav-item
                        %a.nav-link.active{"aria-current" => "logout", :href => "/logout"} Logout 
                -else
                    %li.nav-item
                        %a.nav-link.active{"aria-current" => "login", :href => "/login"} Login
                    %li.nav-item
                        %a.nav-link.active{"aria-current" => "Register", :href => "/register"} Register